{% extends 'layouts/layout.index.twig' %}

{% block content %}
	<div class="container">
		<div class="posts-list">
			{% for post in posts %}
				{% include 'content/post/content.preview.twig' %}
			{% else %}
				{{ __( 'There are no content yet', 'marusia' ) }}
			{% endfor %}
		</div>
	</div>
{% endblock %}
